$text_color : #fff;

#login-form {
  border: 1px #fff;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
  background-color: rgb(17, 17, 17);
  box-shadow: 5px 5px 5px 5px rgb(245, 235, 235);
}
#login-form #title {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}

#login-form #title h1 {
  color: $text_color ;
}

.forgotPassword {
  text-decoration: none;
  color: $text_color ;
}
button {
  background-color: rgb(0, 84, 209);
  color: whitesmoke;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}
input {
  text-align: center;
}
